.main{
    max-width:1100px;
    margin:0 auto;

    line-height: 1.2;
    animation: NAME-YOUR-ANIMATION 0.4s ease;
}
@keyframes NAME-YOUR-ANIMATION {
    0%   {
        opacity: 0;
        transform: translateY(25px);
    }
    100% { opacity: 1;
        transform: translateY(0px);
    }
}

.header{
    margin-top:25px;
}
.header__caption{
    padding-top:25px;
    max-width:700px;
    line-height:1.3;
}