/*-------cntrls-filter---------*/
.cntrls-filter{
    padding-top:40px;
    max-width: 500px;
}

.cntrls-filter__setting{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
}
.cntrls-filter__setting img {
    max-width: 100%;
}
.cntrl__take-file{
    width:100%;
}
.logo-item-block:empty{
        margin: 0px;
}
.logo-item-block {
        max-width: 50%;
    margin: 20px 20px 0px 0px;
}
.pd{
        padding-top: 20px;
}
input, .input-file{
    border: none;
    background: rgb(187, 187, 187);
    width: 220px;
}
.wr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}
input[type=file]::-webkit-file-upload-button, .input-file::-webkit-file-upload-button{
    background: gainsboro;
    border: none;
    padding: 7px 5px;
    cursor:pointer
}
.label__file{

    display: block;
    padding: 20px 0px 5px;
    font-weight: bold;
    font-size: 14px;
    font-family: sans-serif;
}
.setting_checkbox{
    display: none;
}
.setting_checkbox:checked~.setting-block{
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    position: static;
}
.setting-block{

    display:flex;
    padding:10px;
    margin-top:10px;
    flex-direction: row;
    flex-wrap: wrap;
    background: lightgray;

    transform: translateY(8px);
    transition: transform 0.25s ease-in-out, opacity 0.3s ease;
    visibility: hidden;
    position: fixed;
    width: 100%;
    opacity: 0;
}
.setting-block_is_show{
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    position: static;
}

.setting-block__name{
    width: 100%;
    padding-bottom:15px;
}
.setting-block div{
    margin-right:15px;
    padding:5px 0px;
}

.matrix_size{
    width:50px;
}
