@import "./reset.css";
@import "./load.css";
@import "./main.css";
@import "./setting-block.css";


/*---------------dropdownFile-------------*/


.cntrls-filter__dropdown-file{
    min-height:400px;
    width:100%;
    border:3px dashed gray;
    margin-top:40px;
    position: relative;
}
.cntrls-filter__dropdown-file>span{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size:40px;
    color:gray;
}
.cntrls-filter__dropdown-file_disabled{
    border:none;
}
.cntrls-filter__dropdown-file_disabled span{
    display: none;
}
/*---------filters-image-canvases-------*/
.filter-blocks{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: flex-start;
    align-items: flex-start;

    display: none;
}
.filter-block_active{
    display: flex;
}
.filter-blocks__view{
    width:100%;
}
.filter-items{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
}
.filter__item{
    flex-basis: 500px;
    flex-grow:1;
    flex-shrink:1;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.item__image-wrap{
    display: flex;
    margin: auto;
    position: relative;
    flex-wrap:wrap;
    padding-top: 35px;
}
.item__controll-image{
    width:100%;
    position:absolute;
    top:0;
}
.item__img{
    align-self: center;
    margin:auto;
    max-width: 100%;
}

.item__details-block{
    flex-basis: 300px;
    flex-grow:1;
    flex-shrink:1;
}
.hide{
    display: none;
}



@media all and (max-width: 400px) {
    .main{
        width: 100%;
        padding: 20px;
    }
}

