@import "./debug.css";
@import "./reset.css";
@import "./load.css";

.main{
    max-width:1100px;
    margin:0 auto;

    line-height: 1.2;
    animation: NAME-YOUR-ANIMATION 0.4s ease;
}
@keyframes NAME-YOUR-ANIMATION {
    0%   {
        opacity: 0;
        transform: translateY(25px);
    }
    100% { opacity: 1;
        transform: translateY(0px);
    }
}

.header{
    margin-top:25px;
}
.header__caption{
    padding-top:25px;
    max-width:700px;
    line-height:1.3;
}

/*-------cntrls-filter---------*/
.cntrls-filter{
    padding-top:40px;
    max-width: 500px;
}

.cntrls-filter__setting{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.setting_checkbox{
    display: none;
}
.setting_checkbox:checked~.setting-block{
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    position: static;
}
.setting-block{

    display:flex;
    padding:10px;
    margin-top:10px;
    flex-direction: row;
    flex-wrap: wrap;
    background: lightgray;

    transform: translateY(8px);
    transition: transform 0.25s ease-in-out, opacity 0.3s ease;
    visibility: hidden;
    position: fixed;
    width: 100%;
    opacity: 0;
}
.fake__setting-block{
    transition: height 2s ease;
    width: 100%;
    background: olive;
}
.setting-block_is_show{
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    position: static;
}

.setting-block__name{
    width: 100%;
    padding-bottom:15px;
}
.setting-block div{
    margin-right:15px;
    padding:5px 0px;
}

.matrix_size{
    width:50px;
}

/*---------------dropdownFile-------------*/

.cntrls-filter__dropdown-file{
    min-height:400px;
    width:100%;
    border:3px dashed gray;
    display: flex;
    margin-top:40px;
    flex-direction: column;
    flex-wrap:wrap;
    position: relative;

}
.cntrls-filter__dropdown-file>span{
    margin:auto;
    font-size:40px;
    color:gray;
}
.cntrls-filter__dropdown-file_with_images{
    border:none;
}

/*---------filters-image-canvases-------*/

.cntrls-filter__dropdown-file_with_images .filter__images-cavas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; /* NEW */
    display: -webkit-flex; /* NEW */
    align-items: flex-start;
}

.filter__images-cavas{
    display: none;
    width:100%;
    box-sizing: content-box;
}


.items-full-width_active .item-canvas{
    flex-basis: 100%;
}
.item-canvas{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 500px;
    width: 50%;
    align-items: flex-start;
    margin-bottom: 10px;

}

.item-cavas_debug_active{
    flex-basis: 100%;
}
.item-cavas_debug_active .filter_debug{
    display: block;
}
.item-canvas_hide{
    visibility: hidden;
}
.item-canvas img{
    margin: auto;
    display: block;
    max-height: 100%;
    width: 100%;
    height: auto;
}

.item-canvas__icon-controll{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:60px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

}

.item-canvas .virtual-canvas{
    display: none;
}
.item-canvas__image{
    margin:auto;
    padding:20px;
    position: relative;
    padding-top:60px;
}

.block-fully-width{
    flex-basis: 100%;
}

.block-lineChart{
    min-width: 250px;
    width: 100%;
    max-height:250px;
    max-width: 400px;
}
/*-------filter-debugging--------*/



@media all and (max-width: 400px) {
    .main{
        width: 100%;
        padding: 20px;
    }
}

