.filter_debug{
    padding: 20px;
    background: orangered;
    flex-grow: 1;
    flex-basis: 300px;
    display: none;
    position: relative;
}
.debug__number-color{
    background: yellow;
    color: #000;
}
.debug__color-block{
    height:20px;
    width: 20px;
    display: inline-block;
    margin-left: 20px;
    background: white;
}
.debug__close-icon{
    position: absolute;
    height: 20px;
    top:0;
    right:0px;
    background: cadetblue;
}

.debug__gridPixel{
    min-height: 200px;
    display: flex;
    height: 250px;
    max-height: 250px;
    height: 100%;
    width: 60%;
    min-width: 200px;
    max-width: 250px;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-grow: 1; */
    flex-wrap: wrap;
}
.grid-pixel-item{
    width: 33%;
    background: gold;
    height: 33%;
}